<div class="event-schedule-area-two bg-color pad100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                  <h2>Empleados</h2>
                </div>
            </div>
            <!-- /.col end-->
        </div>
        <!-- row end-->
        <div class="row">
            <div class="col-lg-12">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active show" id="home" role="tabpanel">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Foto</th>
                                        <th scope="col">Contacto</th>
                                        <th scope="col">Simulacion</th>
                                        <th scope="col">Estado</th>
                                        <th class="text-center" scope="col">Perfil</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @user.empresa.empleados.each do |empleado| %>
                                        <tr class="inner-box">
                                            <td>
                                                <div class="event-img">
                                                    <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" />
                                                </div>
                                            </td>
                                            <td>
                                                <div class="event-wrap">
                                                    <h3><a href="#"><%= "#{empleado.nombre} #{empleado.apellido}"%></a></h3>
                                                    <div class="meta">
                                                        <div class="organizers">
                                                            <a href="#"><%= "#{empleado.email}"%></a>
                                                        </div>
                                                        <div>
                                                            <%= fa_icon('phone') %><a href="#"><%= " +56 #{empleado.telefono[0]} #{empleado.telefono[1,4]} #{empleado.telefono[5,9]}"%></a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="r-no">
                                                    <span>
                                                    <% if empleado.simulaciones.nil? %>              
                                                        <%= empleado.simulaciones.first.nombre %>
                                                    <% else %>
                                                        
                                                    <% end%>
                                                    </span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="r-no">
                                                    <span>
                                                    <% if empleado.simulaciones.nil? %>              
                                                        <% if empleado.simulaciones.first.realizada %>
                                                            Realizada
                                                        <% else %>
                                                            Pendiente
                                                        <% end %>
                                                    <% else %>
                                                        Sin Asignación
                                                    <% end%>
                                                    </span>              
                                                </div>
                                            </td>
                                            <td>
                                                <div class="primary-btn">
                                                    <%= link_to "Ver más", show_user_path(empleado.id), class:"btn bg-secondary text-white" %>
                                                </div>
                                            </td>
                                        </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /col end-->
        </div>
        <!-- /row end-->
    </div>
</div>