<div class="container">

    <% if @user.encuesta_final? %>
        <h3 class ="text-center mb-4">Resultados</h3>
        <table class="table table-bordered result-container">
          <tbody>
            <tr>
              <td scope="col"><b>Conocimiento General</b></td>
              <td scope="col"><%= "#{@user.encuesta_inicial.porcentaje_bueno}% correcto"%></td>
            </tr>
            <tr>
              <td scope="col"><b>Aprendizaje</b></td>
              <td scope="col"> <%= "#{@user.encuesta_final.porcentaje_bueno}% correcto"%></td>
            </tr>
            <tr>
              <td scope="col"><b>Tendencia de Decisiones:</b></td>
              <td scope="col"> 
              <% case @user.simulaciones.first.decisiones 
                    when 0%> 
                    <%= "No interviene"%>
                  <% when 1%>
                    <%= "Intervención Pasiva"%>
                  <% when 2 %>
                    <%= "Intervención Activa"%>
                  <% else%>
                    <%= "No hay datos"%>
                  <% end %>
              </td>
            </tr>
          </tbody>
        </table>
        

    <% elsif @user.simulaciones.empty?%>
        <h3>Espera a que tu encargado te asigne una simulación</h3>
    <% else %>
        <%= render 'users/sections/stepper' %>
    <% end %>


</div>