<header class="mb-auto">
  <div>
    <h3 class="float-md-start mb-0">Cover</h3>
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <%= link_to 'Home', root_path, class: "nav-link" %>
      <%= link_to 'Services', services_path, class: "nav-link " %>
      <%= link_to 'About Us', about_path, class: "nav-link" %>
      <%= link_to 'Contact', contact_path, class: "nav-link" %>
      <% if !user_signed_in?%>
        <%= link_to "Iniciar Sesión", new_user_session_path, class: "nav-link" %>
        <%= link_to "Registrarse", new_user_registration_path, class: "nav-link" %>
      <% else %>
        <%= link_to "Cerrar Sesión", destroy_user_session_path, class: "nav-link" %>
      <% end %>
    </nav>
  </div>
</header>

<%=render 'layouts/flash_messages'%>

<h2>Registrarse</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
