<%= stylesheet_link_tag 'vaquero' %>

<div class="container">

    <%= render 'layouts/noticias' %>

    <h1> <%= "#{@user.nombre} #{@user.apellido}" %> </h1>
    <% if @user.encargado %>
        <h4> Encargado </h4>
    <% else%>
        <h4> Empleado </h4>
    <% end %>
    <br/>
    <h2> Datos: </h2> 
    <h4> <b> Correo:</b><%= " #{@user.email}" %> </h4>
    <h4> <b> Telefono:</b><%= " +56#{@user.telefono}" %> </h4>
    <br/>
    
    <h2> Resultados </h2>
        <div class="container2">
            <span class="poop"></span>
        </div>

    <% if current_user.admin%>
        <%= link_to "Añadir Resultado", show_user_path, class: 'btn btn-primary'%><br/><br/>
        <%= link_to "Editar", edit_user_path, class: 'btn btn-warning' %>

        <div style="display:inline-block;">
            <%= button_to "Eliminar", destroy_user_path, :class=> 'btn btn-danger', method: :delete %>
        </div>
    <% end%>
    <%= link_to "Volver", empresa_path(@user.empresa_id), class: 'btn btn-secondary' %> <br/><br/>
</div>