<%= stylesheet_link_tag 'vaquero' %>

<div class="container">

    <h1> <%= "#{@user.nombre} #{@user.apellido}" %> </h1>
    <% if @user.encargado %>
        <h4> Encargado </h4>
    <% else%>
        <h4> Empleado </h4>
    <% end %>
    <br/>
    <h2> Datos: </h2> 
    <h4> <b> Correo:</b><%= " #{@user.email}" %> </h4>
    <h4> <b> Telefono:</b><%= " +56#{@user.telefono}" %> </h4>
    <br/>

    <h2> Simulaciones Asignadas </h2><br/>
    <% if !@user.simulaciones_realizadas.empty?%>
        <h3> Realizadas<h3>
        <% @user.simulaciones_realizadas.each do |simulacion| %>
            <h2 class='text-success'> <%= simulacion.nombre%> </h2>
        <% end %>
        <br/>
    <%end %>
    
    <% if !@user.simulaciones_pendientes.empty?%>
        <h3> Pendientes<h3>
        <% @user.simulaciones_pendientes.each do |simulacion| %>
            <li> 
                <span class='text-danger'> <%= simulacion.nombre%> </span> 
                <% if can? :destroy, Simulacion %>
                    <%= button_to "X", user_simulacion_path(simulacion.id), form: {style: 'display:inline-block;'}, :class=> 'btn btn-sm btn-danger', method: :delete %>
                    <%= link_to "Y", user_simulacion_marcar_realizada_path(simulacion_id: simulacion.id, user_id: @user.id), form: {style: 'display:inline-block;'}, :class=> 'btn btn-sm btn-success'%>
                <% end %>
            </li>
        <% end %> <br/>
    <% end %>


    <%= link_to 'Asignar Simulación', new_user_simulacion_path(@user.id), class: 'btn btn-primary'  %>

    
    <h2> Resultados </h2>
        <div class="container2">
            <span class="poop"></span>
        </div>

    <% if current_user.admin%>
        <%= link_to "Añadir Resultado", show_user_path, class: 'btn btn-primary'%><br/><br/>
        <%= link_to "Editar", edit_user_path, class: 'btn btn-warning' %>

        <div style="display:inline-block;">
            <%= button_to "Eliminar", destroy_user_path, :class=> 'btn btn-danger', method: :delete %>
        </div>
    <% end%>
    <% if current_user.id == @user.id%>
        <%= link_to "Editar Perfil", edit_user_registration_path(current_user.id), class: 'btn btn-primary' %>
    <% end %>
    <%= link_to "Volver", empresa_path(@user.empresa_id), class: 'btn btn-secondary' %> <br/><br/>
</div>