<%= stylesheet_link_tag 'vaquero' %>

<section class ="perfil-usuario">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mb-4 mb-sm-5">
        <div class="card card-style1 border-0">
          <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
            <div class="row align-items-center">
              <div class="col-lg-6 mb-4 mb-lg-0">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="...">
              </div>
              <div class="col-lg-6 px-xl-10">
                <div class="bg-secondary d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
                  <h3 class="h2 text-white mb-0"><%= "#{@user.nombre} #{@user.apellido}" %></h3>
                  <span class="text-primary">
                    <% if @user.encargado %>
                      Encargado
                    <% else%>
                      Empleado
                    <% end %>   
                  </span>
                </div>
                <ul class="list-unstyled mb-1-9">
                  <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Empresa:</span><%= " #{@user.empresa.nombre}" %> </li>
                  <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Email:</span><%= " #{@user.email}" %> </li>
                  <li class="display-28"><span class="display-26 text-secondary me-2 font-weight-600">Phone:</span><%= " +56 #{@user.telefono[0]} #{@user.telefono[1,4]} #{@user.telefono[5,9]}"   %> </li>
                </ul>
                <% if current_user.id == @user.id%>
                    <%= link_to "Editar Perfil", edit_user_registration_path(current_user.id), class: 'btn btn-primary' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 mb-4 mb-sm-5">

        <%if @user.admin | @user.encargado %>
          <span class="section-title text-primary mb-3 mb-sm-4"> Empleados </span>

          <ul>
          <% if @user.empresa.empleados.empty?%>
            <p>No hay nada aqui todavia</p>
          <% else %>
            <% @user.empresa.empleados.each do |empleado| %>
              <li><%= link_to "#{empleado.nombre} #{empleado.apellido} ", show_user_path(empleado.id)%></li>
            <% end %>
          <% end %>

          </ul>

          <% if can? :new, User %>
            <%= link_to "Añadir Trabajador", agregar_usuario_empresa_path(id:@user.empresa_id), class: 'btn btn-primary'%>
          <% end%>
          
          <% if can? :manage, Empresa %>
            <%= link_to "Volver", empresas_path, class: 'btn btn-secondary' %> 
          <% end %>
                    
          <% if can? :manage, Empresa %>
              <%= link_to "Editar", edit_empresa_path(id:@user.empresa_id), class: 'btn btn-warning' %>
          <% end%>

          <% if can? :delete, Empresa %>
            <div style="display:inline-block;">
                <%= button_to "Eliminar", empresa_path(id:@user.empresa_id), :class=> 'btn btn-danger', method: :delete %>
            </div>
          <% end%>

        <% else %>        
          <% if !@user.simulaciones_realizadas.empty?%>
            <span class="section-title text-primary mb-3 mb-sm-4">Simulaciones Realizadas </span>
            <% @user.simulaciones_realizadas.each do |simulacion| %>
              <p> <%= simulacion.nombre%> </p>
            <% end %>
          <%end %>
                  
          <% if !@user.simulaciones_pendientes.empty?%>
              <span class="section-title text-primary mb-3 mb-sm-4">Simulaciones Pendientes </span>
              <% @user.simulaciones_pendientes.each do |simulacion| %>
                  <li> 
                      <span > <%= simulacion.nombre%> </span> 
                      <% if can? :destroy, Simulacion %>
                          <%= button_to "X", user_simulacion_path(simulacion.id), form: {style: 'display:inline-block;'}, :class=> 'btn btn-sm btn-danger', method: :delete %>
                          <%= link_to "Y", user_simulacion_marcar_realizada_path(simulacion_id: simulacion.id, user_id: @user.id), form: {style: 'display:inline-block;'}, :class=> 'btn btn-sm btn-success'%>
                      <% end %>
                  </li>
              <% end %> 
          <% end %>
      </div>
      <div class="col-lg-12 mb-4 mb-sm-5">
        <div class ="row">
          <div class ="col-lg-6 mb-4 mb-lg-0">
          <% if can? :manage, Simulacion%>
            <%= link_to 'Asignar Simulación', new_user_simulacion_path(@user.id), class: 'btn btn-primary float-start'  %>
          <% end %>
          </div> 
          <div class = "col-lg-6 mb-4 mb-lg-0">
            <%= link_to "Volver", :back, class: 'btn btn-secondary float-end' %> 
          </div>
        </div>
      </div>
      <%end%>
    </div>
  </div>
</section>
