<%= stylesheet_link_tag 'vaquero' %>

<section class ="perfil-usuario">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mb-4 mb-sm-5">
        <div class="card card-style1 border-0">
          <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
            <div class="row align-items-center">
              <div class="col-lg-6 mb-4 mb-lg-0">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="...">
              </div>
              <div class="col-lg-6 px-xl-10">
                <div class="bg-secondary d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
                  <h3 class="h2 text-white mb-0"><%= "#{@user.nombre} #{@user.apellido}" %></h3>
                  <span class="text-badge">
                    <% if @user.admin %>
                      Admin
                    <% elsif @user.encargado%>
                      Encargado
                    <% else%>
                      Empleado
                    <% end %>   
                  </span>
                </div>
                <ul class="list-unstyled mb-1-9">
                  <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Empresa:</span><%= " #{@user.empresa.nombre}" %> </li>
                  <% if !@user.admin && @user.encargado %>
                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Direccion:</span><%= " #{@user.empresa.direccion}" %> </li>
                    <% if !@user.empresa.oficina.empty? %>
                      <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Oficina:</span><%= " #{@user.empresa.oficina}" %> </li>
                    <% end%>
                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Comuna:</span><%= " #{@user.empresa.comuna}" %> </li>
                  <% end %>
                  <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Email:</span><%= " #{@user.email}" %> </li>
                  <li class="display-28"><span class="display-26 text-secondary me-2 font-weight-600">Phone:</span><%= " +56 #{@user.telefono[0]} #{@user.telefono[1,4]} #{@user.telefono[5,9]}"   %> </li>
                </ul>
                <% if current_user.id == @user.id%>
                    <%= link_to "Editar Perfil", edit_user_registration_path(current_user.id), class: 'btn btn-secondary float-end' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 mb-4 mb-sm-5">
        <% if @user.admin %>
          <span class="section-title text-primary mb-3 mb-sm-4"> Encargados </span>
        <% elsif @user.encargado && !@user.admin %>
          <div class ="row mb-4">
            <div class ="col-lg-6 mb-4 mb-lg-0">
              <span class="section-title text-primary mb-3 mb-sm-4"> Empleados </span>   
              <form method="get" role="form" class="search-form-full"> 
                  <div class="form-group"> 
                      <input type="text" class="form-control" name="s" id="search-input" placeholder="Buscar..."> 
                      <i class="entypo-search"></i> 
                  </div> 
              </form> 
              <div class ="member-list container">
                <% if @user.empresa.empleados.empty?%>
                  <p>No hay nada aqui todavia</p>
                <% else %>
                  <% @user.empresa.empleados.each do |empleado| %>
                    <div class="member-entry"> 
                      <%= link_to show_user_path(empleado.id), class:"member-img" do %>
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-rounded"> 
                        <i class="fa fa-forward"></i> 
                      <% end  %>
                      <div class="member-details"> 
                        <h4> <%= link_to "#{empleado.nombre} #{empleado.apellido} ", show_user_path(empleado.id) %> </h4>
                        <div class="row info-list">
                          <div class="col-sm-4"> 
                              <i class="fa fa-envelope"></i>
                              <%= "#{empleado.email}"%>
                          </div>  
                        </div>  
                      </div> 
                    </div>
                  <% end %>
              
                <% end %>
                
              </div>
            </div>
            <div class ="col-lg-6 mb-4 mb-lg-0"> 
              <span class="section-title text-primary mb-3 mb-sm-4">Resultados Generales</span>   
            </div>
          </div>
          <div class ="row mb-4">
              <% if can? :manage, Empresa %>
                <div class ="col-lg-6 mb-4 mb-lg-0">
                  <%= link_to "A침adir Trabajador", agregar_usuario_empresa_path(id:@user.empresa_id), class: 'btn bg-secondary text-white'%>
                </div> 
              <% end%>
              <% if can? :manage, Empresa %>
                <div class = "col-lg-6 mb-4 mb-lg-0">
                  <%= link_to "Volver", :back, class: 'btn btn-secondary float-end' %> 
                </div>
              <% end%>
          </div>        
          <% if can? :manage, Empresa %>
              <%= link_to "Editar", edit_empresa_path(id:@user.empresa_id), class: 'btn btn-warning' %>
          <% end%>
          <% if can? :delete, Empresa %>
            <div style="display:inline-block;">
                <%= button_to "Eliminar", empresa_path(id:@user.empresa_id), :class=> 'btn btn-danger', method: :delete %>
            </div>
          <% end%>
        <% else %>
          <div class ="row">
            <div class ="col-lg-6 mb-4 mb-lg-0">        
            <% if !@user.simulaciones_realizadas.empty?%>
              <span class="section-title text-primary mb-3 mb-sm-4">Simulaciones Realizadas </span>
              <ul class ="mb-3 mb-sm-4">
              <% @user.simulaciones_realizadas.each do |simulacion| %>
                <li class ="text-success"> <%= simulacion.nombre%> </li>
              <% end %>
              </ul>
            <%end %>
                    
            <% if !@user.simulaciones_pendientes.empty?%>
              <span class="section-title text-primary mb-3 mb-sm-4">Simulaciones Pendientes </span>
              <ul class ="mb-3 mb-sm-4">
              <% @user.simulaciones_pendientes.each do |simulacion| %>
                  <li class="mb-3"> 
                      <span > <%= simulacion.nombre%> </span> 
                      <% if can? :destroy, Simulacion %>
                          <%= button_to "X", user_simulacion_path(simulacion.id), form: {style: 'display:inline-block;'}, :class=> 'btn btn-sm btn-danger', method: :delete %>
                          <%= link_to "Y", user_simulacion_marcar_realizada_path(simulacion_id: simulacion.id, user_id: @user.id), form: {style: 'display:inline-block;'}, :class=> 'btn btn-sm btn-success'%>
                      <% end %>
                  </li>
              <% end %> 
              </ul>
            <% end %>
            </div>
            <div class="col-lg-6 mb-4 mb-lg-0">
              <span class="section-title text-primary mb-3 mb-sm-4">Resultados </span>
            </div>
          </div>
        </div>
        <% if can? :manage, Simulacion%>
          <div class="col-lg-12 mb-4 mb-sm-5">
            <div class ="row">
              <div class ="col-lg-6 mb-4 mb-lg-0">
                <!-- Button trigger modal -->
                <button type="button" class="btn bg-secondary text-white" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Asignar Simulaci칩n
                </button>
              </div> 
              <div class = "col-lg-6 mb-4 mb-lg-0">
                <%= link_to "Volver", :back, class: 'btn btn-secondary float-end' %> 
              </div>
              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title" id="exampleModalLabel">A침adir Simulacion</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <%= form_for :simulacion, url: user_simulacions_path(user_id:@user.id), method: :post do |f| %>
                    <div class="modal-body">
                      <%= f.select :nombre, ["Microinsulto", "Microagresion", "Microinvalidacion"],
                            {}, class: "form-select" %>
                    </div>
                    <div class="modal-footer ">
                      <button type="button" class="btn btn-secondary float-start" data-bs-dismiss="modal">Cerrar</button>
                       <%= f.submit "A침adir", class: "btn btn-primary " %>
                    </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>  
          </div>
      
        <% end %>
      <%end%>
    </div>
  </div>
</section>
