<section class ="perfil-usuario">
  <div class="container-fluid">
    <div class="row">
    <%= render 'users/sections/header' %>
    </div>
    <div class="row mb-5">
      <% if @user.admin %>
        <%= render 'users/sections/admin-body'%>
      <% elsif @user.encargado %>
      <%= render 'users/sections/encargado-results'%>
        <%= render 'users/sections/encargado-body'%>
      <% else %>
        <%= render 'users/sections/user-body'%>
      <% end %>
    </div>
  </div>
</section>
