<header class="mb-auto">
  <div>
    <h3 class="float-md-start mb-0">Cover</h3>
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <%= link_to 'Home', root_path, class: "nav-link" %>
      <%= link_to 'Services', services_path, class: "nav-link " %>
      <%= link_to 'About Us', about_path, class: "nav-link active" %>
      <%= link_to 'Contact', contact_path, class: "nav-link" %>
      <% if !user_signed_in?%>
        <%= link_to "Iniciar Sesión", new_user_session_path, class: "nav-link" %>
        <%= link_to "Registrarse", new_user_registration_path, class: "nav-link" %>
      <% else %>
        <%= link_to "Cerrar Sesión", destroy_user_session_path, class: "nav-link" %>
      <% end %>
    </nav>
  </div>
</header>

<%=render 'layouts/flash_messages'%>

<h1>Pages#contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>
