<header>
  <nav class = "nav-container">
    <div class="nav-brand">
      <%= link_to root_path do %>
       <%= image_tag("logo_feelink.png", size: "245x52.5") %>
      <% end  %>
    </div>
    <div id="nav-hamburguer">
      <div class="hamburguer-icon">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <ul class ="nav-menu">
      <li> <%= link_to 'Home', root_path, class: "link-active" %></li>
      <li><%= link_to 'Services', services_path%></li>
      <li><%= link_to 'About Us', about_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>

      <% if user_signed_in? %>
        <% if current_user.admin %>
          <li><%= link_to 'Empresas', empresas_path%></li>
        <% else %>
          <li><%= link_to 'Mi Empresa', empresa_path(current_user.empresa_id)%></li>
          <li><%= link_to 'Mi Perfil', show_user_path(current_user.id)%></li>
        <% end %>
        <li><%= link_to 'Sign out', destroy_user_session_path %></li>
      <% else %>
        <li><%= link_to 'Sign in', new_user_session_path %></li>
      <% end %>
    </ul>
  </nav>
</header>

<main>
  <%=render 'layouts/noticias' %>
  <div id="carouselExampleControls" class="carousel slide mt-0" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class ="carousel-text carousel-bg-image1">
          <h1>Cover your page.</h1>
          <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
          <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <div class ="carousel-text carousel-bg-image1">
          <h1>Cover your page.</h1>
          <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
          <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <div class ="carousel-text carousel-bg-image1">
          <h1>Cover your page.</h1>
          <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
          <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
          </p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</main>