<div class='container'>
    <h1>Empresas</h1>

    <%= render 'layouts/noticias' %>

    <% @empresas.each do |empresa| %>
        <h2><%= link_to empresa.nombre, empresa_path(empresa.id) %></h2>
        <h4><%= "Direccion: #{empresa.direccion}" %></h4>
        <% if !empresa.oficina.empty? %>
            <h4><%= "Oficina: #{empresa.oficina}" %></h4>
        <%  end %>
        <h4><%= "Comuna: #{empresa.comuna}" %></h4>
        <br/>
    <% end %>

    <div>
        <%= link_to "Añadir Empresa", new_empresa_path, class: 'btn btn-primary'%>
    </div>
</div>

