<div class='container'>

    <h1><%= @empresa.nombre %></h1>
    <h4><%= "Direccion: #{@empresa.direccion}" %></h4>
    <% if !@empresa.oficina.empty? %>
        <h4><%= "Oficina: #{@empresa.oficina}" %></h4>
    <% end %>
    <h4><%= "Comuna: #{@empresa.comuna}" %></h4>

    <br/>

    <h1>Trabajadores</h1>

    <h2>Encargados</h2>
    <% if @empresa.encargados.empty?%>
        <p>No hay nada aqui todavia</p>
    <% else %>
        <% @empresa.encargados.each do |encargado| %>
            <%= link_to "#{encargado.nombre} #{encargado.apellido} ", show_user_path(encargado.id)%><br/>
        <% end %>
    <% end %>

    <h2>Empleados</h2>
    <% if @empresa.empleados.empty?%>
        <p>No hay nada aqui todavia</p>
    <% else %>
        <% @empresa.empleados.each do |empleado| %>
            <%= link_to "#{empleado.nombre} #{empleado.apellido} ", show_user_path(empleado.id)%><br/>
        <% end %>
    <% end %>

    <br/>
        <div>
            <% if can? :new, User %>
                <%= link_to "Añadir Trabajador", agregar_usuario_empresa_path, class: 'btn btn-primary'%>
            <% end%>

            <% if can? :manage, Empresa %>
                <%= link_to "Volver", empresas_path, class: 'btn btn-secondary' %> <br/>
            <% end %>
            
            <% if can? :edit, Empresa %>
                <%= link_to "Editar", edit_empresa_path, class: 'btn btn-warning' %>
            <% end%>

            <% if can? :delete, Empresa %>
                <div style="display:inline-block;">
                    <%= button_to "Eliminar", empresa_path(@empresa.id), :class=> 'btn btn-danger', method: :delete %>
                </div>
            <% end%>

        </div>
        <br/>
</div>