<header id="header-nav">
  <nav class = "nav-container">
    <div class="nav-brand">
      <%= link_to root_path do %>
       <%= image_tag("logo_feelink.png", size: "245x52.5") %>
      <% end  %>
    </div>
    <div id="nav-hamburguer">
      <div class="hamburguer-icon">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <ul class ="nav-menu">
      <li> <%= link_to 'Inicio', root_path, class: "#{current_page?(root_path) ? 'link-active' : ''}" %></li>
      <li><%= link_to 'Experiencia', experience_path, class: "#{current_page?(experience_path) ? 'link-active' : ''}"%></li>
      <li><%= link_to 'Quiénes Somos', about_path, class: "#{current_page?(about_path) ? 'link-active' : ''}" %></li>
      <li><%= link_to 'Contacto', contact_path, class: "#{current_page?(contact_path) ? 'link-active' : ''}" %></li>
      <% if !user_signed_in? %>
        <li><%= link_to 'Iniciar Sesión', new_user_session_path, class: "#{current_page?(new_user_session_path) ? 'link-active' : ''}" %></li>
      <% else %>
        <% if can? :manage, Empresa %>
          <li><%= link_to 'Empresas', empresas_path, class: "#{current_page?(empresas_path) ? 'link-active' : ''}" %></li>

        <% elsif can? :edit, Empresa %>
          <li><%= link_to 'Mi Empresa', empresa_path(current_user.empresa_id), class: "#{current_page?(empresa_path(current_user.empresa_id)) ? 'link-active' : ''}" %></li>
        <% end %>
        <li><%= link_to ' Mi Perfil', show_user_path(current_user.id), class: "#{current_page?(show_user_path(current_user.id)) ? 'link-active' : ''}" %></li>
        <li><%= link_to 'Cerrar Sesión', destroy_user_session_path, class: "#{current_page?(new_user_session_path) ? 'link-active' : ''}" %></li>
      <% end %>
    </ul>
  </nav>
</header>
